.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.nav-item {
    position: relative;
    display: flex; /* Use flexbox to center vertically */
    align-items: center; /* Center vertically */
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 0em 5%;
    height: 50px; /* Adjust the height as needed */
}

.nav-item:hover{
    cursor:pointer;
}

.nav-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s ease-in-out;
}

.nav-item:hover::before {
    opacity: 0.1;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-item {
        padding: 1em 0;
        width: 100%;
        text-align: center;
    }
}