<div appFadeInOnScroll class="card contact-card fade-in">
    <h1 class="section-title">Contact</h1>
    <h3>Email: <a href="mailto:terrell.g.terry@gmail.com" target="_blank"><fa-icon [icon]="faEnvelope"></fa-icon></a></h3>
    <h3>LinkedIn: <a href="https://www.linkedin.com/in/terrell-terry-9033b6158/" target="_blank"><fa-icon [icon]="faLinkedIn"></fa-icon></a></h3>
    <h3>Software Resume: <a href="assets/resumes/TerrellTerryResume.pdf" target="_blank"><fa-icon [icon]="faFileAlt"></fa-icon></a></h3>
    <h3>Games Resume: <a href="assets/resumes/TerrellTerryResumeGames.pdf" target="_blank"><fa-icon [icon]="faFile"></fa-icon></a></h3>
    <h3>Github: <a href="https://github.com/TerrellTerry" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a></h3>
</div>