<div appFadeInOnScroll (finishedFadingEvent)="handleFinishedFadingEvent($event)" class="card skill-card fade-in">
    <div class="button-container">
        <button [ngClass]="{ 'button': true, 'active': isShowingSoftware, 'inactive': !isShowingSoftware }" (click)="changeCategory('software')">SOFTWARE</button>
        <button [ngClass]="{ 'button': true, 'active': !isShowingSoftware, 'inactive': isShowingSoftware}" (click)="changeCategory('games')">GAMES</button>
    </div>
    <div class="skill-grid" *ngIf="fadedIn">
        <div class="skill-grid-item">
            <h5 appTextAnimation [text]="gamesSkillsText[0].title" *ngIf="!isShowingSoftware"></h5>
            <h5 appTextAnimation [text]="softwareSkillsText[0].title" *ngIf="isShowingSoftware"></h5>
            <p appTextAnimation [text]="gamesSkillsText[0].skills" [delay]="delay" *ngIf="!isShowingSoftware">
            </p>
            <p appTextAnimation [text]="softwareSkillsText[0].skills" [delay]="delay" *ngIf="isShowingSoftware">
            </p>
        </div>
        <div class="skill-grid-item">
            <h5 appTextAnimation [text]="gamesSkillsText[1].title" *ngIf="!isShowingSoftware"></h5>
            <h5 appTextAnimation [text]="softwareSkillsText[1].title" *ngIf="isShowingSoftware"></h5>
            <p appTextAnimation [text]="gamesSkillsText[1].skills" [delay]="delay" *ngIf="!isShowingSoftware">
            </p>
            <p appTextAnimation [text]="softwareSkillsText[1].skills" [delay]="delay" *ngIf="isShowingSoftware">
            </p>
        </div>
        <div class="skill-grid-item">
            <h5 appTextAnimation [text]="gamesSkillsText[2].title" *ngIf="!isShowingSoftware"></h5>
            <h5 appTextAnimation [text]="softwareSkillsText[2].title" *ngIf="isShowingSoftware"></h5>
            <p appTextAnimation [text]="gamesSkillsText[2].skills" [delay]="delay" *ngIf="!isShowingSoftware">
            </p>
            <p appTextAnimation [text]="softwareSkillsText[2].skills" [delay]="delay" *ngIf="isShowingSoftware">
            </p>
        </div>
        <div class="skill-grid-item">
            <h5 appTextAnimation [text]="gamesSkillsText[3].title" *ngIf="!isShowingSoftware"></h5>
            <h5 appTextAnimation [text]="softwareSkillsText[3].title" *ngIf="isShowingSoftware"></h5>
            <p appTextAnimation [text]="gamesSkillsText[3].skills" [delay]="delay" *ngIf="!isShowingSoftware">
            </p>
            <p appTextAnimation [text]="softwareSkillsText[3].skills" [delay]="delay" *ngIf="isShowingSoftware">
            </p>
        </div>
    </div>
</div>