.project-card{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    align-items: center; */
    margin-top: var(--row-gap);
    border-radius: 25px;
    max-height: 450px;
    min-height: 450px;
}

/* Temporary CSS until I can get the formatting correct with the media (LOL) */


.description-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.button-container{
    height: 50px;
    position: absolute;
    bottom: 50px;
}

button{
    padding: 1em 3em;
    margin-right: 50px;
}

.description{
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: 1em;
    margin-left: 1em;
    /* margin-bottom: 8em; */
    border: 4em 4em;
    word-wrap: break-word;
    /* width: 500px; */
}

.back {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 95%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.back:hover{
    background-color: rgba(0,0,0,0.8);
}

@media screen and (max-width: 1200px) {
    .description{
        margin-bottom: 0;
    }
    .project-card{
        min-width: 400px;
        max-height: 500px;
    }
    .button-container{
        margin-right: 0;
        margin-top: 20px;
    }
}