.bio-module-container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 5%; 
    margin-top: var(--row-gap); 
    margin-bottom: var(--row-gap);
    align-items: center;
    /* height: 33%; This broke after adding angular material, not sure why. Removing it doesn't seem to change anything*/
}

.alignment{

}

.bio-module-container:last-child{
    margin-bottom: 0;
}


@media screen and (max-width: 1200px) {
    .bio-module-container {
        grid-template-columns: unset;
        display: flex;
        flex-direction: column;
    }
    .alignment{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}