<div class="media-container" [ngClass]="{'fullscreen': isFullscreen}">
    <div class="media-content">
      <button class="fullscreen-toggle" (click)="toggleFullscreen()">
        <!-- <mat-icon>{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon> -->
      </button>
      <button class="arrow arrow-left" (click)="playPreviousMedia()">
        <!-- <mat-icon>keyboard_arrow_left</mat-icon> -->
      </button>
      <div class="media-display">
        <youtube-player
        *ngIf="isYouTubeMedia(currentMediaIndex)"
        [videoId]="mediaList[currentMediaIndex]"
        [width]="isFullscreen ? 100 : 640"
        [height]="isFullscreen ? 100 : 360"
        ></youtube-player>
        <img
          *ngIf="isImageMedia(currentMediaIndex)"
          [src]="mediaList[currentMediaIndex]"
          [alt]="'Media ' + (currentMediaIndex + 1)"
        />
      </div>
      <button class="arrow arrow-right" (click)="playNextMedia()">
        <!-- <mat-icon>keyboard_arrow_right</mat-icon> -->
      </button>
    </div>
    <div class="timer-bar" [style.animation-duration]="timerDuration + 's'"></div>
  </div>